Привет, путник!
Не знаю, зачем ты зашел в эту абсолютно хелповую тетрадь, но если уж зашел:

* Было замечено, что моделька плохо парсит объекты и аспекты в вопросах
* 2 варианта:
  ее смущает форма вопроса
  ее смущает слова, которые он не видела
  
* посмотреть, как оверлапится множество объектов для трейна и теста (ответ: очень хорошо, почти 100% перекрытие множеств именованных аспектов на трейне и тесте)
* добавть в датасет вопросы
* прикрутить елмо (не помогло)

## 1

In [3]:
!lssetlocale: LC_ALL: cannot change locale (en_US.UTF-8)

ACQuA - CAM Aspects release 28.02.2019 - convertedratings.csv
CAM_dev.csv
CAM_qw_new.csv
CAM_qw_test.csv
CAM_test.csv
CAM_train.csv
CAM_train_new.csv
explore_dataset.ipynb
run_command_line.ipynb

In [4]:
import pandas as pd

aspect_df = pd.read_csv('ACQuA - CAM Aspects release 28.02.2019 - convertedratings.csv')
aspect_df.head()

,OBJECT A,OBJECT B,ASPECT,ASPECT BELONGS TO,MOST FREQUENT RATING,CONFIDENCE,AMOUNT OF GOOD RATINGS,AMOUNT OF BAD RATINGS,SENTENCE EXAMPLE 1,SENTENCE EXAMPLE 2,SENTENCE EXAMPLE 3,SENTENCE EXAMPLE 4,SENTENCE EXAMPLE 5
0,golf,hockey,spot,golf,BAD,1.0,0,1,NaN,NaN,NaN,NaN,NaN
1,golf,hockey,greater,golf,BAD,1.0,0,1,"in fact, athletes in individual sports (i.e., ...","first, athletes in individual sports (i.e., go...",NaN,NaN,NaN
2,golf,hockey,prof,golf,BAD,1.0,0,1,"being in a massive hockey market, i can't thin...",NaN,NaN,NaN,NaN
3,golf,hockey,arm,golf,BAD,1.0,0,1,NaN,NaN,NaN,NaN,NaN
4,golf,hockey,mcphee,golf,BAD,1.0,0,1,NaN,NaN,NaN,NaN,NaN

In [3]:
csv_file = 'CAM_test.csv'
txt_file = 'test.txt'

text_list = []

with open(csv_file, "r", encoding="utf-8") as my_input_file:
    for line in my_input_file:
        line = line.split(",", 2)
        text_list.append(" ".join(line))

with open(txt_file, "w", encoding="utf-8") as my_output_file:
    my_output_file.write("#1\n")
    my_output_file.write("double({},{})\n".format(len(text_list), 2))
    for line in text_list:
        my_output_file.write("  " + line)
    print('File Successfully written.')

File Successfully written.

In [6]:
import codecs
import csv

i = 0
with codecs.open('CAM_qw_test.csv', 'w', 'utf-8') as f:
    writer = csv.writer(f)
    for elem in zip(wq_df['word'].values, wq_df['tag'].values):
        print (elem)
        i = i+1
        writer.writerow(elem)

NameError: name 'wq_df' is not defined

In [82]:
import pandas as pd
train = pd.read_csv("CAM_train.csv", names = ['word', 'tag'], sep = ' ')
test = pd.read_csv("CAM_test.csv", names = ['word', 'tag'], sep = ' ')
dev = pd.read_csv("CAM_dev.csv",  names = ['word', 'tag'], sep = ' ')

In [76]:
train[2:].to_csv('CAM_train.csv', index=False, header=False, sep = ' ')

In [81]:
test[2:].to_csv('CAM_test.csv', index=False, header=False, sep = ' ')
dev[2:].to_csv('CAM_dev.csv', index=False, header=False, sep = ' ')

In [84]:
dev.head(15)

       word       tag
0       and         O
1       can         O
2         i         O
3      just         O
4       say         O
5      that         O
6     doing         O
7       the         O
8   inferno         O
9      move         O
10       on         O
11      the         O
12       ds  B-ASPOBJ
13       is         O
14       50         O

In [ ]:
with codecs.open('test.csv', 'w', 'utf-8') as f:
    writer = csv.writer(f)
    for elem in zip(test['word'].values, test['tag'].values):
        print (elem)
        i = i+1
        writer.writerow(elem)

In [59]:
train.head()

         word tag
0         1tb   O
1          of   O
2  mechanical   O
3     storage   O
4          is   O

In [38]:
test.to_csv('test.txt', header=False, index=False, sep =' ')

In [26]:
#train.to_csv('train.txt', header=False, index=False, sep = ' ')
dev.to_csv('dev.txt', header=False, index=False, sep = ' ')

In [17]:
import pandas as pd

new_df = pd.read_csv("CAM_train.csv", names = ['word', 'tag'])
new_df_test = pd.read_csv("CAM_test.csv", names = ['word', 'tag'])

In [18]:
a = new_df_train['word'].values[43]

In [19]:
b = new_df['word'].values[43]

In [20]:
a == b

False

In [21]:
new_df_train['word'].values[-45:]

array(['u', 'is', 'just', 'about', 'to', 'hit', 'it', 's', '3rd', 'month',
       ',', 'way', 'too', 'early', 'to', 'give', 'up', 'on', 'it', 'yet',
       ',', 'and', '3ds', 'is', 'selling', 'faster', 'than', 'ds', '.',
       nan, 'the', 'amazon', 'appstore', 'is', 'doing', 'a', 'better',
       'job', 'selling', 'apps', 'than', 'google', 'play', 'is', '.'],
      dtype=object)

In [22]:
new_df['word'].values[40:45]

array(['and', 'seagate', '.', nan, 'amazon'], dtype=object)

In [23]:
list_ = []
for elem in new_df['tag'].values:
    if not(elem in list_):
        list_.append(elem)
list_

['O', 'B-OTHOBJ', 'B-ASPOBJ', nan, 'B-ASP', 'I-ASP', 'I-ASPOBJ', 'I-OTHOBJ']

In [24]:
list_of_object_pairs = []
for elem in zip(aspect_df['OBJECT A'].values, aspect_df['OBJECT B'].values):
    if elem not in list_of_object_pairs:
        list_of_object_pairs.append(elem)

In [25]:
train_names = []
test_names = []

for word, tag in zip(new_df['word'].values, new_df['tag'].values):
    if (tag == 'B-ASPOBJ' or tag == 'B-OTHOBJ'):
        if (word not in train_names):
            train_names.append(word)
            
for word, tag in zip(new_df_test['word'].values, new_df_test['tag'].values):
    if (tag == 'B-ASPOBJ' or tag == 'B-OTHOBJ'):
        if (word not in test_names):
            test_names.append(word)
            
train_names = sorted(train_names)
test_names = sorted(test_names)

In [26]:
print (len(train_names), len(test_names))

119 110

In [27]:
common = []
for elem in train_names:
    if elem in test_names:
        common.append(elem)
        
print (len(common))

110

** в общем, полный оверлаппинг **

*Создадим искуственный датасет на вопросах*

In [28]:
import random
import numpy as np
wq_df = pd.DataFrame(columns = ['word', 'tag'])

comparative_word = ['better', 'easier', 'faster', 'nicer', 'wiser','safer', 'worse', 'harder', 'slower', 'poorly']
for elem in list_of_object_pairs:
    qw_type = random.choice([0, 1, 0, 1, 2])
    if (qw_type == 0):
        wq_df = wq_df.append({'word':'is', 'tag':'O'}, ignore_index=True)
        wq_df =wq_df.append({'word':elem[0], 'tag':'B-ASPOBJ'}, ignore_index=True)
        
        asp = np.random.choice(comparative_word, 1, p=[0.55, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05])
        if (asp[0] != 'better'):
            wq_df = wq_df.append({'word':asp[0], 'tag':'B-ASP'}, ignore_index=True)
        else:
            wq_df = wq_df.append({'word':asp[0], 'tag':'O'}, ignore_index=True)
        wq_df = wq_df.append({'word':'than', 'tag':'O'}, ignore_index=True)
        wq_df = wq_df.append({'word':elem[1], 'tag':'B-OTHOBJ'}, ignore_index=True)
        wq_df = wq_df.append({'word':'', 'tag':''}, ignore_index=True)
        
    elif (qw_type == 1):
        wq_df = wq_df.append({'word':'what', 'tag':'O'}, ignore_index=True)
        wq_df = wq_df.append({'word':'is', 'tag':'O'}, ignore_index=True)
        
        asp = np.random.choice(comparative_word, 1, p=[0.55, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05])
        if (asp[0] != 'better'):
            wq_df = wq_df.append({'word':asp[0], 'tag':'B-ASP'}, ignore_index=True)
        else:
            wq_df = wq_df.append({'word':asp[0], 'tag':'O'}, ignore_index=True)
        
        wq_df = wq_df.append({'word':elem[0], 'tag':'B-ASPOBJ'}, ignore_index=True)
        wq_df = wq_df.append({'word':'or', 'tag':'O'}, ignore_index=True)

        wq_df = wq_df.append({'word':elem[1], 'tag':'B-OTHOBJ'}, ignore_index=True)
        wq_df = wq_df.append({'word':'', 'tag':''}, ignore_index=True)
        
    elif (qw_type == 2):
        wq_df = wq_df.append({'word':elem[0], 'tag':'B-ASPOBJ'}, ignore_index=True)
        wq_df = wq_df.append({'word':'vs', 'tag':'O'}, ignore_index=True)
        wq_df = wq_df.append({'word':elem[1], 'tag':'B-OTHOBJ'},ignore_index=True)
        wq_df = wq_df.append({'word':'', 'tag':''}, ignore_index=True)

In [88]:
wq_df.to_csv('CAM_qw_test.csv')

In [1]:
len(wq_df)

NameError: name 'wq_df' is not defined

In [36]:
wq_df_to_train = wq_df[:300].reset_index(drop=True)
wq_df_to_test = wq_df[301:].reset_index(drop=True)

In [40]:
new_df = new_df.append(wq_df_to_train, ignore_index=True)
new_df_test = new_df_test.append(wq_df_to_test, ignore_index=True)

In [38]:
new_df.to_csv('CAM_train_new.csv', index=False)

In [42]:
new_df_test.to_csv('CAM_test_new.csv', index=False)

In [28]:
wq_df_to_test.reset_index(drop=True)

            word       tag
0
1             is         O
2          pasta  B-ASPOBJ
3         better         0
4           than         0
5          pizza  B-OTHOBJ
6              ?         0
7
8             is         O
9          mysql  B-ASPOBJ
10        better         0
11          than         0
12    postgresql  B-OTHOBJ
13             ?         0
14
15    california  B-ASPOBJ
16            vs         0
17      michigan  B-OTHOBJ
18
19            is         O
20           ps2  B-ASPOBJ
21         worse     B ASP
22          than         0
23           psp  B-OTHOBJ
24             ?         0
25
26          what         O
27            is         O
28        better         0
29       fishing  B-ASPOBJ
..           ...       ...
442           is         O
443     chrysler  B-ASPOBJ
444       easier     B ASP
445         than         0
446       toyota  B-OTHOBJ
447            ?         0
448
449         what         O
450           is         O
451       slower     B ASP
452        pasta  B-ASPOBJ
453           or         0
454         soup  B-OTHOBJ
455            ?         0
456
457         what         O
458           is         O
459        nicer     B ASP
460     gamecube  B-ASPOBJ
461           or         0
462  playstation  B-OTHOBJ
463            ?         0
464
465           is         O
466       iphone  B-ASPOBJ
467       better         0
468         than         0
469       laptop  B-OTHOBJ
470            ?         0
471

[472 rows x 2 columns]

In [65]:
!pwd

/home/vika/NER_RNN/targer/data/NER/Asqua_CAM_aspects

In [66]:
import sys
sys.path
sys.path.append('/home/vika/NER_RNN/targer/')
from src.classes.utils import get_words_num

In [90]:
def read_data(fn, verbose=True, column_no=-1, splitter = ','):
        word_sequences = list()
        tag_sequences = list()
        with codecs.open(fn, 'r', 'utf-8') as f:
            lines = f.readlines()
        curr_words = list()
        curr_tags = list()
        print (len(lines))
        for k in range(len(lines)):
            #print (lines[k])
            line = lines[k].strip()
            if len(line) == 1 or line.startswith('-DOCSTART-'): # new sentence or new document
                if len(curr_words) > 0:
                    word_sequences.append(curr_words)
                    tag_sequences.append(curr_tags)
                    curr_words = list()
                    curr_tags = list()
                continue
            strings = line.split(',')
            #print (strings)
            word = strings[0]
            #print ("word", word)
            tag = strings[column_no] # be default, we take the last tag
            #print ("word", tag)
            curr_words.append(word)
            curr_tags.append(tag)
            if k == len(lines) - 1:
                word_sequences.append(curr_words)
                tag_sequences.append(curr_tags)
        if verbose:
            print('Loading from %s: %d samples, %d words.' % (fn, len(word_sequences), get_words_num(word_sequences)))
        return word_sequences, tag_sequences

In [91]:
a, b = read_data('CAM_train_new.csv')

77534
Loading from CAM_train_new.csv: 2661 samples, 74874 words.